/cravat.yml
/*.zip
/*/*/data/**
!annotators/example_annotator/data/example_annotator.sqlite
!converters/23andme-converter/data/placeholder.txt
!converters/ancestrydna-converter/data/placeholder.txt
!converters/ftdna-converter/data/placeholder.txt
.pydevproject
.project
**.pyc
*.bak
.vscode/**
**/__pycache__/**
**/*.status.json
hg38_bak
tagger.py
*.tsv
.gitignore
example_annotator
**input.status.json
**/**/.DS_Store
**/**/**/.DS_Store
**/**/__dummy__*
**/**/startofinstall
**/**/endofinstall
annotators/segway*
annotators/haploreg*
*.swp
**/**/*.so
**/**/*.pyd
mappers/hg38old
