/cravat.yml
/*.zip
/*/*/data/**
!annotators/example_annotator/data/example_annotator.sqlite
.pydevproject
.project
**.pyc
*.bak
.vscode/**
**/__pycache__/**
**/*.status.json
hg38_bak
tagger.py
*.tsv
.gitignore
example_annotator
**input.status.json
